name: Documentation

on:
  push:
    branches:
      - master
      - documentation-action-add-draft
    paths:
      # For the current generated documentation, these trigger paths are sufficient.
      # Long-term, job-level triggers are more appropriate.
      # https://how.wtf/run-workflow-step-or-job-based-on-file-changes-github-actions.html
      - src/fundus/publishers/**
      - scripts/generate_tables.py

  # https://github.com/stefanzweifel/git-auto-commit-action/issues/211#issuecomment-1100105924
  pull_request_target:
    paths:
      - src/fundus/publishers/**
      - scripts/generate_tables.py

  workflow_dispatch:

env:
  PYTHONPATH: .
  CI_COMMIT_MESSAGE: >-
    ${{ 
      github.event_name == 'pull_request' 
      && format('Update documentation from @ {0} (#{1})', github.event.pull_request.head.sha, github.event.number) 
      || format('Update documentation from @ {0}', github.sha)
    }}

jobs:
  supported_publishers:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
    # https://github.com/stefanzweifel/git-auto-commit-action?tab=readme-ov-file#use-in-forks-from-public-repositories
        with:
          # Checkout the fork/head-repository and push changes to the fork.
          # If you skip this, the base repository will be checked out and changes
          # will be committed to the base repository!
          repository: ${{ github.event.pull_request.head.repo.full_name }}

          # Checkout the branch made in the fork. Will automatically push changes
          # back to this branch.
          ref: ${{ github.head_ref }}


      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install Fundus
        run: pip install -e .[dev]

      - name: Generate 'supported_publishers.md'
        run: python scripts/generate_tables.py

      - name: Convert PR to draft
        env:
          GH_TOKEN: ${{ github. token }}
        run: |
          gh pr ready ${{ github.event.pull_request.number }} --undo 

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ${{ env.CI_COMMIT_MESSAGE }}
          file_pattern: docs
